<%- include("./partials/head") -%>
<%- include("./partials/header") -%>

  <div class="tasks">
    <div class="box" id="heading">
      <h1 class="heading"><%= date %></h1>
    </div>
    <div class="box">
      <% tasks.forEach(function(task) { %>
          <div class="item">
            <form class="task">
              <i class="far fa-square unchecked">
              <input type="text" class="edit-task" value="<%= task.description %>" data-id="<%= task._id %>">
              <button type="submit" style="visibility: hidden"></button>
            </form>
          </div>
      <% }); %>
      <form class="item newItem">
        <input class="newTask" type="text" name="newTask" placeholder="New Task" autocomplete="off" required>
        <button class="addTask" type="submit">+</button>
      </form>
    </div>
  </div>

<%- include("./partials/footer") -%>
