<%- include("./partials/head") -%>
<%- include("./partials/header") -%>

  <div class="tasks">
    <div class="box" id="heading">
      <h1><%= date %></h1>
    </div>
    <div class="box">
      <% tasks.forEach(function(task) { %>
          <div class="item"><%= tasks %>
            <!-- <i class="far fa-square unchecked"> -->
            <p><%= task.description %></p>
          </div>
      <% }); %>
      <form class="item" action="/" method="post">
        <input class="newTask" type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button class="addTask" type="submit" name="list">+</button>
      </form>
    </div>
  </div>

<%- include("./partials/footer") -%>
