<%- include("./partials/head") -%>
<%- include("./partials/header") -%>

<div class="">
  <h2>YOUR ACCOUNT</h2>
  <div class="">
    <img class="user-photo" src="">
  </div>
  <div class="">
    <form class="data-form">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= name %>" required>
      <label for="email">Email address</label>
      <input name="email" value="<%= email %>" required>
      <button type="submit" class="save-data">Save changes</button>
    </form>
    <div class="">
      <h3>Change your password</h3>
      <form class="password-form">
        <label for="">New password</label>
        <input name="newPassword" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <label for="">Confirm password</label>
        <input name="confirmPassword" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <button type="submit" class="save-password">Save password</button>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer") -%>
